<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
    <body>
        <h1>Transfer Confrimation</h1>

        <h3>Your transfer of <span data-th-text="${amount}"></span> from</h3>
        <h3><span data-th-text="${fromAccount}"></span> to</h3>
        <h3><span data-th-text="${toAccount}"></span></h3>
        <h3>is successful</h3>
        <br>
        <h3>Transaction id is <span data-th-text="${transaction_id}"></span></h3>

    


    </body>
</html>